@font-face {
    src: url('fonts/robotomono/RobotoMono-Regular.ttf');
}

.a {
    -rtfx-background-color: #ffff00;
}

.c {
    -rtfx-background-color: #00ff00;
}

.g {
    -rtfx-background-color: #00ffff;
}

.t {
    -rtfx-background-color: #ffc800;
}

.type1 {
    -rtfx-background-color: #f2d7ee;
}

.type2 {
    -rtfx-background-color: #4b4237;
}

.type3 {
    -rtfx-background-color: #da4167;
}

.type4 {
    -rtfx-background-color: #3626a7;
}

.type5 {
    -rtfx-background-color: #fea82f;
}

.type6 {
    -rtfx-background-color: #ffc800;
}

.insertion {
    -rtfx-background-color: #c8ffbe;
}

.deletion {
    -rtfx-background-color: #edffab;
}

.substitution {
    -rtfx-background-color: #89608e;
}
