.a {
    -rtfx-background-color: yellow;
}
.c {
    -rtfx-background-color: lightgreen;
}
.g {
    -rtfx-background-color: lightblue;
}
.t {
    -rtfx-background-color: orange;
}
.aa {
    -rtfx-background-color: red;
}
.m {
    -rtfx-background-color: lightgreen;
}

.type1 {
    -rtfx-background-color: black;
}

.type2 {
    -rtfx-background-color: blue;
}

.type3 {
    -rtfx-background-color: yellow;
}

.type4 {
    -rtfx-background-color: green;
}

.type5 {
    -rtfx-background-color: cyan;
}

.type6 {
    -rtfx-background-color: orange;
}

.none {
    -rtfx-background-color: white;
}

.insertion {
    -rtfx-background-color: lightgreen;
}

.deletion {
    -rtfx-background-color: red;
}

.substitution {
    -rtfx-background-color: blue;
}

.transposition {
    -rtfx-background-color: magenta;
}

.styled-text-area .selection {
    -fx-opacity: 0;
}